.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 25vw;
    height: 65vh;
    background-color: rgb(35, 31, 31);
    color: white;
    box-shadow: 0px 2px 2px 2px #fff;
    margin: 50px 5px;
    font-size: 20px;
}
.movie-box {
    cursor: pointer;
}

a{
    list-style: none;
    font-size: 20px;
}
a:link, a:visited ,a:hover {
 color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
li{
    list-style: none;
}
@media (max-width: 1000px) {
    .box{
        width: 45vw;
    }
}
@media (max-width: 520px) {
    .box{
        width: 90vw;
    }

}