* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
}

html{
  background: rgba(234, 250, 197, 0.57);
}
ul{
  margin: 0;
  padding: 0;
}


input {
  padding: 1px;
  margin-bottom: 10px;
}
.App{
  background: rgba(234, 250, 197, 0.57);

}
